<p>
  <%= l(:google_analytics_directions) %>
</p>

<p>
  <label><%= l(:google_analytics_code_label) %></label><%= text_area_tag 'settings[google_analytics_code]', @settings['google_analytics_code'], :rows => 10, :cols => 85 %>
</p>

<p>
  <label><%= l(:google_analytics_log_anonymous_label) %></label><%= check_box_tag 'settings[google_analytics_log_anonymous]', '1', @settings['google_analytics_log_anonymous'] %>
</p>

<p>
  <label><%= l(:google_analytics_log_authenticated_label) %></label><%= check_box_tag 'settings[google_analytics_log_authenticated]', '1', @settings['google_analytics_log_authenticated'] %>
</p>

<p>
  <label><%= l(:google_analytics_log_administrator_label) %></label><%= check_box_tag 'settings[google_analytics_log_administrator]', '1', @settings['google_analytics_log_administrator'] %>
</p>

